<!-- include header -->

<%- include('include/_header') %>

  <!-- include header -->


  <!-- Main Body -->
  <div>

    <div style="background-color: #3D5962; color: white;;">
      <p style="font-size: 18px; font-weight: bolder;" class="text-center p-2 mb-2">Premium Members Get 10% Off
        and Earn
        Rewards</p>
    </div>

    <!-- Swift Carousel -->

    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner swift-Carousel">

        <div class="carousel-item active" data-bs-interval="5000">
          <img src="images/B & N/1. The Swift HD.png" class="d-block w-100 swift-image" alt="...">
        </div>

        <div class="carousel-item" data-bs-interval="5000">
          <img src="images/B & N/2. How to Eat a Book HD.png" class="d-block w-100 swift-image" alt="...">
        </div>

        <div class="carousel-item" data-bs-interval="5000">
          <img src="images/B & N/3. A Magic Steeped In Poison HD.png" class="d-block w-100 swift-image" alt="...">
        </div>

        <div class="carousel-item" data-bs-interval="5000">
          <img src="images/B & N/4. All Books HD.png" class="d-block w-100 swift-image" alt="...">
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>

    <!-- Swift Carousel -->

    <div class="container FindYourBook p-5">FIND YOUR PLACE AT B&N'S ONLINE BOOKSTORE
      Over 5 million books ready to ship, 3.6 million eBooks and 300,000 audiobooks to download right now!
      Curbside pickup
      available in most stores!</div>

    <!-- Genre Section -->

    <div class="container text-center" id="category">

      <div class="Genre-header p-3">Build Your Own Library</div>

      <div>

        <a href="/category?cat=Crime & Thriller" class="Genre-button">
          <i class="fa-solid fa-skull-crossbones orange"></i>
          Crime & Thriller
        </a>

        <a href="/category?cat=Romance" class="Genre-button">
          <i class="fa-solid fa-heart orange"></i>
          Romance
        </a>

        <a href="/category?cat=Fiction" class="Genre-button">
          <i class="fa-brands fa-space-awesome orange"></i>
          Fiction
        </a>

        <a href="/category?cat=Mystery" class="Genre-button">
          <i class="fa-solid fa-user-secret orange"></i>
          Mystery
        </a>

        <a href="/category?cat=Literature" class="Genre-button">
          <i class="fa-solid fa-feather-pointed orange"></i>
          Literature
        </a>

        <a href="/category?cat=Classic" class="Genre-button">
          <i class="fa-solid fa-tree orange"></i>
          Classic
        </a>

        <a href="/category?cat=Biography" class="Genre-button">
          <i class="fa-solid fa-book-open-reader orange"></i>
          Biography
        </a>

        <a href="/category?cat=Fantasy" class="Genre-button">
          <i class="fa-solid fa-hat-wizard orange"></i>
          Fantasy
        </a>

        <a href="/category?cat=Literary Fiction" class="Genre-button">
          <i class="fa-solid fa-masks-theater orange"></i>
          Literary Fiction
        </a>

        <a href="/category?cat=Poetry" class="Genre-button">
          <i class="fa-solid fa-pen-nib orange"></i>
          Poetry
        </a>

        <a href="/category?cat=Folklore & Mythology" class="Genre-button">
          <i class="fa-solid fa-dragon orange"></i>
          Folklore & Mythology
        </a>

        <a href="/category?cat=Science Fiction & Fantasy" class="Genre-button">
          <i class="fa-sharp fa-solid fa-jedi orange"></i>
          Science Fiction & Fantasy
        </a>

        <a href="/category?cat=YA Fantasy" class="Genre-button">
          <i class="fa-solid fa-wand-sparkles orange"></i>
          YA Fantasy
        </a>

        <a href="/category?cat=YA Graphic" class="Genre-button">
          <i class="fa-solid fa-tablet-screen-button orange"></i>
          YA Graphic
        </a>

        <a href="/category?cat=COOKBOOKS, FOOD & WINE" class="Genre-button">
          <i class="fa-solid fa-utensils orange"></i>
          COOKBOOKS, FOOD & WINE
        </a>

        <a href="/category?cat=Crafts & Hobbies" class="Genre-button">
          <i class="fa-solid fa-compass-drafting orange"></i>
          Crafts & Hobbies
        </a>

        <a href="/category?cat=History" class="Genre-button">
          <i class="fa-solid fa-landmark-dome orange"></i>
          History
        </a>

        <a href="/category?cat=Humor" class="Genre-button">
          <i class="fa-sharp fa-solid fa-face-grin-beam orange"></i>
          Humor
        </a>

        <a href="/category?cat=Nature" class="Genre-button">
          <i class="fa-solid fa-mountain-sun orange"></i>
          Nature
        </a>

        <a href="/category?cat=Philosophy" class="Genre-button">
          <i class="fa-solid fa-lightbulb orange"></i>
          Philosophy
        </a>

        <a href="/category?cat=Religious Books & More" class="Genre-button">
          <i class="fa-solid fa-place-of-worship orange"></i>
          Religious Books & More
        </a>

        <a href="/category?cat=Self-Help & Relationship" class="Genre-button">
          <i class="fa-solid fa-hand-holding-heart orange"></i>
          Self-Help & Relationship
        </a>

        <a href="/category?cat=Traveling" class="Genre-button">
          <i class="fa-sharp fa-solid fa-cart-flatbed-suitcase orange"></i>
          Traveling
        </a>

        <a href="/category?cat=Kids' Books" class="Genre-button">
          <i class="fa-solid fa-children orange"></i>
          Kids' Books
        </a>

        <a href="/category?cat=Academic" class="Genre-button">
          <i class="fa-solid fa-graduation-cap orange"></i>
          Academic
        </a>

        <a href="/category?cat=Art" class="Genre-button">
          <i class="fa-solid fa-brush orange"></i>
          Art
        </a>

        <a href="/category?cat=Paranormal" class="Genre-button">
          <i class="fa-solid fa-ghost orange"></i>
          Paranormal
        </a>

        <a href="/category?cat=Sociology" class="Genre-button">
          <i class="fa-solid fa-people-roof orange"></i>
          Sociology
        </a>

        <a href="/category?cat=Sports" class="Genre-button">
          <i class="fa-solid fa-baseball-bat-ball orange"></i>
          Sports
        </a>

        <a href="/category?cat=Psychology" class="Genre-button">
          <i class="fa-solid fa-brain orange"></i>
          Psychology
        </a>

      </div>

    </div>

    <!-- Genre Section -->

  </div>

  <!-- Deep Dive -->
  <div class="container">
    <hr>
    <img src="images/B & N/5. Dive Into Good Books HD.jpg" class="container" alt="">
  </div>
  <!-- Deep Dive -->

  <!-- Book section -->

  <div class="container">

    <!-- Sort -->
    <hr>
    <div class="sort-nav d-flex">

      <span class="me-auto px-5 sort-nav-header">Explore</span>

      <div class="dropdown-center px-5">
        <a class="nav-link dropdown-toggle sort-nav-header" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Sort
        </a>

        <ul class="dropdown-menu">

          <li><a class="dropdown-item" href="/nameASC">Name [A-Z]</a></li>
          <li><a class="dropdown-item" href="/nameDSC">Name [Z-A]</a></li>

          <li><a class="dropdown-item" href="/priceLowHigh">Price [Low - Hight]</a></li>
          <li><a class="dropdown-item" href="/priceHighLow">Price [High - Low]</a></li>

        </ul>
      </div>

    </div>
    <hr>

  </div>

  <!-- Book section -->

  <div class="container" id="books" style="border-bottom: 2px solid #3D5962;">

    <!-- Show books -->
    <div class="row justify-content-center mx-3">

      <%- include('include/_showBooks') %>

    </div>

    <div class="d-flex pb-3">
      <div class="ms-auto me-auto">

        <% if(Page> 1) { %>

          <a href="/allBooks?page=<%= Page - 1 %>" style="text-decoration: none;">
            <button type="button" class="btn btn-paging"> << </button>
          </a>

          <a href="/allBooks?page=<%= Page - 1 %>" style="text-decoration: none;">
            <button type="button" class="btn btn-paging">
              <%= Page - 1 %>
            </button>
          </a>

        <% } %>

        <a href="/allBooks?page=<%= Page %>" style="text-decoration: none;">
          <button type="button" class="btn btn-paging">
            <%= Page %>
          </button>
        </a>

        <% if(Skip + Limit < PageCount) { %>

          <a href="/allBooks?page=<%= Page + 1 %>" style="text-decoration: none;">
            <button type="button" class="btn btn-paging"><%= Page + 1 %></button>
          </a>

          <a href="/allBooks?page=<%= Page + 1 %>" style="text-decoration: none;">
            <button type="button" class="btn btn-paging"> >> </button>
          </a>

        <% } %>
                
      </div>
    </div>

  </div>

  <!-- Book section -->

  <!-- Payment -->
  <div class="container my-5">
    <img src="images/B & N/6. Payment HD.png" class="container" alt="">
  </div>
  <!-- Payment -->

  <!-- include footer -->

  <%- include('include/_footer') %>

    <!-- include footer -->